<div class='list-page'>
  <div class='list-page-header'>
    <div class='header-title'>アート作品一覧</div>
  </div>
  <%= link_to 'トップページ', root_path, class: 'top-page' %>
  <div class='list-image'>
    <% @posts.each do |post| %>
      <%= image_tag post.image, class: "post-imag" %>
    <% end %>
  </div>
  
</div>
