.main {
  width: 100vw;
  height: 100vh;
}
.main-visual {

}
.main-image {
  width: 100%;
  position: relative;
  background-size: cover;
}

.main-title {
  position: absolute;
  top: 30%;
  right: 10%;
  color: white;
  font-size: 35px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 2s;
}
@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }

.top-page-header {
  position: absolute;
  top: 0;
  right: 40px;
  
 }
 .nav {
 
 }
 .lists {
  list-style: none;
  display: flex;
  padding: 20px;
 }
 .sign-up {
  margin-right: 20px;
 }
 .user-nickname {
   padding: 20px;
   color: black;
   text-decoration: none;
 }
 .post {
  width: 23px;
  height: 23px;
  margin-right: 20px;
}
 .second-visual {
  position: relative;
 }
 .second-image {
   width: 100%;
   background-size: cover;
 }
.artthinking {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 25px;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}
.artthinking-description {
  
}

.artthinking-title {
  margin: 5%;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}
.artthinking-commentary {
  margin: 10%;
  line-height: 10px;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}
.list {

}
.contemporary {
  
}
.list {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 25px;
  text-decoration: underline;
  margin-left: 38%;
}
.contemporary-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work {
  width: 20%;
  height: 20%;
  margin: 5%;
}